{% import '_macro.twig' as macros %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ app_description }}">
    <meta name="author" content="Zein Miftah">

    <title>{{ app_title }}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ assets_url }}/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="{{ assets_url }}/css/style.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {% block style %}{% endblock %}
  </head>

  <body>
    {% if has_login == true %}
    {% include '_menu.twig' %}
    {% endif %}

    <div class="container main-tpl">
      <div class="row">
        <div class="col-md-12">
          {% block content %}{% endblock %}    
        </div>
      </div>
    </div><!-- /.container -->

    <footer>
      <div class="container">
        Copyright &copy; 2014
      </div>
    </footer><!-- /.footer -->

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ assets_url }}/vendor/jquery/jquery.min.js"></script>
    <script src="{{ assets_url }}/vendor/bootstrap/js/bootstrap.min.js"></script>
    {% block script %}{% endblock %}
  </body>
</html>
